[submodule ".registry"]
	path = .registry
	url = https://github.com/conalog/conalog.r-universe.dev
	branch = HEAD
[submodule "patchsdk"]
	path = patchsdk
	url = https://github.com/Conalog/patch-sdk
	subdir = sdks/r
